@model IEnumerable<Microfinance.Models.Business.Loan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermMonths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
